body {
    background-color: lightcoral;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.project-card {
    background-color: skyblue;
    width: 500px;
    height: 1000;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    justify-content: center;
}

.project-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}

.project-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    justify-content: center;
    padding-left: 100px;
}

.project-content {
    padding: 20px;
}

.project-content h2 {
    color: #e91e63;
    font-size: 22px;
    margin-bottom: 10px;
}

.project-content p {
    color: #555;
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.btn {
    background-color: #e91e63;
    color: #2c1414;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 8px;
    font-weight: bold;
    transition: background 0.3s ease;
}

.btn:hover {
    background-color: #c2185b;
}
img:hover{
transform: scale(1.02);
box-shadow: 0 8px 25px;
}
h2:hover{
    transform: scale(1.02);
    box-shadow: 0 8px 25px;
    background-color: #dfced5;
}
a:hover{
 transform: scale(1.02);
    box-shadow: 0 8px 25px;
}
.product-img{
    text-align: center;
    justify-content: center;
    padding-left: 50px;
}
